{% extends 'account/main.html' %}

{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-7">
		<div class="card card-body">
            <h5>Are you sure to delete this item: {{item}}
            </h5>

            <form action = "{% url 'delete' item.id %}" method = "POST">

                {% csrf_token %}
                <a href = {% url 'index' %} class = "btn btn-warning">Cancel
                </a>
                <input type="submit" name ="Confirm" class = "btn btn-danger">

            </form>
        </div>
    </div>
</div>
{% endblock content %}




